mdb-card-body {
  text-align: left;
  .imgBlog {
    height: 300px;
    width: 100%;
  }
}
// unimplemented
%header-style1 {
  font-style: italic;
}

%header-style2 {
  color: #3560f7;
}
h3 {
  @extend %header-style2;
}
