$icon-colors: #3560f7;

mdb-card-body {
  text-align: left;
  .img-fluid {
    border: 1 px solid;
    box-shadow: 5px 5px 7px 6px #0f0114;
    width: 65%;
    height: 85%;
    border-radius: 2%;
  }
  mdb-icon,
  .icolor {
    color: $icon-colors;
  }
}
